<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Quote\Model\Cart\TotalsConverter">
        <plugin name="tax_indiangst_totals_converter" type="Tax\IndianGST\Plugin\Quote\Model\Cart\TotalsConverterPlugin" sortOrder="10"/>
    </type>

    <!-- Repository Preferences -->
    <preference for="Tax\IndianGST\Api\VendorRepositoryInterface" type="Tax\IndianGST\Model\VendorRepository"/>

    <!-- PDF Overrides -->
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Tax\IndianGST\Model\Order\Pdf\Invoice" />
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Tax\IndianGST\Model\Order\Pdf\Creditmemo" />

    <!-- Price Display Plugin -->
    <type name="Magento\Framework\Pricing\Render\Amount">
        <plugin name="tax_indiangst_price_display" type="Tax\IndianGST\Plugin\Pricing\Render\AmountPlugin" sortOrder="100"/>
    </type>

    <!-- Plugin to skip native tax for India while keeping it for other countries -->
    <type name="Magento\Tax\Model\Sales\Total\Quote\Subtotal">
        <plugin name="tax_indiangst_skip_subtotal" type="Tax\IndianGST\Plugin\Tax\Model\Sales\Total\Quote\TaxCollectorPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="tax_indiangst_skip_shipping" type="Tax\IndianGST\Plugin\Tax\Model\Sales\Total\Quote\TaxCollectorPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin name="tax_indiangst_skip_tax" type="Tax\IndianGST\Plugin\Tax\Model\Sales\Total\Quote\TaxCollectorPlugin" sortOrder="1"/>
    </type>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="indiangst_rate_listing_data_source" xsi:type="string">Tax\IndianGST\Model\ResourceModel\Rate\Grid\Collection</item>
                <item name="indiangst_vendor_listing_data_source" xsi:type="string">Tax\IndianGST\Model\ResourceModel\VendorProfile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Invoice/Creditmemo native tax skip plugins -->
    <type name="Magento\Sales\Model\Order\Invoice\Total\Tax">
        <plugin name="tax_indiangst_invoice_skip_tax" type="Tax\IndianGST\Plugin\Sales\Model\Order\Invoice\Total\TaxPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo\Total\Tax">
        <plugin name="tax_indiangst_cm_skip_tax" type="Tax\IndianGST\Plugin\Sales\Model\Order\Creditmemo\Total\TaxPlugin" sortOrder="1"/>
    </type>
</config>
